<html>
<head>
    <title>Delete Form</title>
    {% include 'movies/bootstraplines.html' %}
</head>
<body>
<style>
    body{
        background-color: lightblue;
    }
</style>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <form method="POST">
                {% csrf_token %}
                <h2 class="text-center color-red">Please Delete Movies Here...</h2>
                {{ form }}
                {% if messages %}
<ul class="messages">
    {% for message in messages %}
    {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    {% endfor %}
</ul>
{% endif %}
                <center>
                    <input type="submit" value="submit" class="btn btn-success">
                    <input type="reset" value="clear" class="btn btn-danger"><br>
                    <a href="/">Goto Home Page</a>
                </center>

            </form>
        </div>
    </div>
</div>
</body>
</html>
